# General Requirements
streamlit
numpy
PILLOW
torch
torchvision
opencv-python

# Yolov8 Requirements
ultralytics

# Animate Photo Requirements
ffmpeg-python
ffmpeg
gdown
import imageio
import requests
matplotlib.pyplot
matplotlib.animation
skimage.transform
IPython.display
warnings
demo
skimage
os
base64
