# General Requirements
streamlit
numpy
PILLOW
torch
torchvision
opencv-python
requests
imageio
#IPython.display
#base64
#os

# Yolov8 Requirements
ultralytics

# Animate Photo Requirements
ffmpeg-python
ffmpeg
gdown
#matplotlib.pyplot
#matplotlib.animation
#warnings
demo
skimage

# ESRGAN Requirements
basicsr
facexlib
gfpgan
shutil
