# General Requirements
streamlit
numpy
PILLOW
torch
torchvision
opencv-python
requests
imageio
#IPython.display
#base64
#os

# Yolov8 Requirements
ultralytics
omegaconf

# Animate Photo Requirements
ffmpeg-python
ffmpeg
gdown
#matplotlib.pyplot
#matplotlib.animation
#warnings
#demo
scikit-image
scikit-learn

imageio-ffmpeg==0.4.7
matplotlib==3.6.0
pandas==1.5.0
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
scipy==1.9.1
tqdm==4.64.1
